In [ ]:
import pandas as pd
import re

In [ ]:
goal = pd.read_csv("tests/fixtures/pt_life_expectancy_expected.csv")

In [ ]:
print(goal.shape)
goal.head(10)

In [ ]:
goal.dtypes

### Let's create it

In [ ]:
df = pd.read_csv("data/eu_life_expectancy_raw.tsv", sep="\t")

In [ ]:
# removing spaces in variable names
df.columns = df.columns.str.replace(' ', '')

# creating new variables by separating "unit,sex,age,geo\time"
df[['unit', 'sex', 'age', 'region']] = df['unit,sex,age,geo\\time'].str.split(',', expand=True)

# Drop the original 'unit,sex,age,geo\\time' column
df = df.drop('unit,sex,age,geo\\time', axis=1)

# filtering by portuguese
df = df[df['region'] == 'PT']

# Melt the dataframe and clean up values
df_melted = pd.melt(
    df,
    id_vars=['unit', 'sex', 'age', 'region'],
    var_name='year',
    value_name='value'
).query('value != ": "')

# Clean 'value' and convert columns
df_melted['value'] = pd.to_numeric(df_melted['value'].str.replace(r'[^0-9.^0-9]', '', regex=True), errors='coerce')
df_melted['year'] = df_melted['year'].astype(int)

# Save the cleaned and melted DataFrame to a CSV file
df_melted.to_csv('cleaned_data.csv', index=False)

In [ ]:
print(df_melted.shape)
df_melted.head(10)

In [ ]:
import pandas as pd
import re

def clean_data():
    """
    Cleans and processes the raw life expectancy data by:
    - Splitting 'unit,sex,age,geo\\time' into separate columns
    - Filtering for Portuguese data
    - Melting the DataFrame to reshape it
    - Cleaning up the 'value' column and converting it to numeric
    - Saving the cleaned DataFrame as a CSV file
    Returns:
    pd.DataFrame: The cleaned DataFrame.
    """
    df = pd.read_csv("data/eu_life_expectancy_raw.tsv", sep="\t")

    # removing spaces in variable names
    df.columns = df.columns.str.replace(' ', '')

    # creating new variables by separating "unit,sex,age,geo\time"
    df[['unit', 'sex', 'age', 'region']] = df['unit,sex,age,geo\\time'].str.split(',', expand=True)

    # Drop the original 'unit,sex,age,geo\\time' column
    df = df.drop('unit,sex,age,geo\\time', axis=1)

    # filtering by portuguese
    df = df[df['region'] == 'PT']

    # Melt the dataframe and clean up values
    df_melted = pd.melt(
        df,
        id_vars=['unit', 'sex', 'age', 'region'],
        var_name='year',
        value_name='value'
    ).query('value != ": "')

    # Clean 'value' and convert columns
    df_melted['value'] = pd.to_numeric(df_melted['value'].str.replace(r'[^0-9.^0-9]', '', regex=True), errors='coerce')
    df_melted['year'] = df_melted['year'].astype(int)

    # Save the cleaned and melted DataFrame to a CSV file
    df_melted.to_csv('data/pt_life_expectancy.csv', index=False)

    return df_melted

In [6]:
from life_expectancy.cleaning import clean_data

In [7]:
clean_data()

      unit sex     age region  year  value
61      YR   F     Y65     PT  2021   21.7
85      YR   F   Y_LT1     PT  2021   84.3
147     YR   M     Y65     PT  2021   17.8
171     YR   M   Y_LT1     PT  2021   78.0
233     YR   T     Y65     PT  2021   19.9
...    ...  ..     ...    ...   ...    ...
15991   YR   T     Y83     PT  1960    4.7
15992   YR   T     Y84     PT  1960    4.5
15993   YR   T      Y9     PT  1960   62.9
15994   YR   T  Y_GE85     PT  1960    4.2
15995   YR   T   Y_LT1     PT  1960   64.0

[15744 rows x 6 columns]